<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>AM browser</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" type="image/png" href="#{baseName}/img/favicon.png"/>
  <link rel="apple-touch-icon" sizes="192x192" type="image/png" href="#{baseName}/img/favicon.png">
  <link rel="stylesheet" href="#{baseName}/style.css">
  <link rel="stylesheet" href="#{baseName}/loading.css">
</head>
<body class="loading">
<div id="content">
  <svg id="logo" viewBox="0 0 120 120" version="1.1">
    <g fill="none" stroke="none" fill-rule="evenodd">
      <rect fill="none" stroke="none" x="0" y="0" width="120" height="120"></rect>
      <g stroke="#01A982" class="paths" stroke-width="4" stroke-linecap="square">
        <path d="M54,96 L54,106 L14,106 L14,66 L24,66"></path>
        <path d="M24,36 L84,36 L84,96 L24,96 L24,36"></path>
        <path d="M34,36 L34,18 L102,18 L102,86 L84,86"></path>
        <rect x="34" y="66" width="20" height="20"></rect>
      </g>
    </g>
  </svg>
</div>
<script>window.amb_basename='#{baseName}'</script>
<script src="#{baseName}/index.js"></script>
<script src="#{baseName}/scripts/pdfmake.min.js"></script>
<script src="#{baseName}/scripts/vfs_fonts.js"></script>
</body>
</html>
